body {
	height: 150px;
	width: 200px;
}

.center {
	margin: auto;
}

.btn {
	border-radius: 0px;
	border-width: 5px;
	width: 80%;
	display: block;
	text-align: center;
	margin: 10px auto;
	vertical-align: 50%;
}

.btn-danger {
	font-size: 10px;
	width: 30%;
	text-align: center;
	float: right;
	margin-right: 10%;
	margin-top: 0;
}